<div class="principal">
    <article class="conteudo">
    
    <header class="titulo">
        <h2>Lista de Professores</h2>
    </header>
    
    <div class="media bg-secondary border m-4">
      <h4>Elcio Abrahão / Sistemas distribuídos e mobile  </h4>
    </div>
  
    <div class="media bg-secondary border m-4">    
      <h4>Rodrigo Bossini / Sistemas distribuídos e mobile</h4>  
    </div>
  
    <div class="media bg-secondary border m-4"> 
      <h4>Hamilton Machiti / Usabilidade, desenvolvimento web, mobile e jogos</h4>  
    </div>
  
    <div class="media bg-secondary border m-4">   
      <h4>Igor Moreira Feliz / Usabilidade, desenvolvimento web, mobile e jogos</h4>  
    </div>
  </article>      
</div>