<!doctype html>
<html lang="en">
  <app-topo></app-topo>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>
      Universidade Tecnologica de Supply Chain Management
    </title>
  </head>



  <div class="container border p-3 mt-2 bg-primary text-white text-center">
    <h1>
      Universidade Tecnologica de Supply Chain Management
    </h1>
  </div>

  <main>
    <div class="container-fluid">
      <div id="mainSlider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#mainslider" data-slide-to="0" class="active"></li>
          <li data-target="#mainslider" data-slide-to="1"></li>
          <li data-target="#mainslider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/ImaCarousel1.jpg" class="d-block w-100" alt="Supply1">
          </div>
          <div class="carousel-item">
            <img src="assets/ImaCarousel2.jpg" class="d-block w-100" alt="Supply2">
          </div>
          <div class="carousel-item">
            <img src="assets/ImaCarousel3.jpg" class="d-block w-100" alt="Supply3">
          </div>
        </div>
        <a href="mainSlider" class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previus</span>
        </a>
        <a href="mainSlider" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">next</span>
        </a>
      </div>
    </div>
  </main>

  <body>   

    <div class="row">
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">CRM</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">ERP</div>     
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">TMS</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">WMS</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">OMS</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">B2B</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">B2C</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">RRHH</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">Securit</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">TI</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">Supply</div>
      <div class="border col-xl-1 col-md-4 text-center p-3 mt-2 bg-primary">Scheduling</div>
    </div>

    <app-lista-de-cursos></app-lista-de-cursos>
    <app-lista-de-professores></app-lista-de-professores>

    <footer class="blockquote-footer">
      <P>
          Contato: Ezequiel Perez  
      </P>
      <P>
          Telefone: 11 99999 - 9999
      </P>     
      
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>