<div class="principal">
    <article class="conteudo">
    
    <header class="titulo">
        <h2>Lista de cursos</h2>
    </header>
    
    <div class="media bg-secondary border m-4">
      <img src="assets/Imagem2.jpg" style="width:300px" alt="Curso de especialista em TMS">   
        <div class="media-body">
          <h4>Curso de especialista em TMS</h4>  
          <P> Neste Curso se explicaram os conceitos basicos dos software TMS (Transport Management System)</P>
        </div> 
      </div>
  
    <div class="media bg-secondary border m-4">    
      <img src="assets/Imagem3.jpg" style="width:300px" alt="Curso de especialista em WMS">  
        <div class="media-body">
          <h4>Curso de especialista em WMS</h4>  
          <P> Neste Curso se explicaram os conceitos basicos dos software WMS (Warehouse Management System)</P>
      </div> 
    </div>
  
    <div class="media bg-secondary border m-4"> 
      <img src="assets/Imagem4.jpg" style="width:300px" alt="Curso de especialista em Procurement"> 
        <div class="media-body">
          <h4>Curso de especialista em Procurement</h4>  
          <P> Neste Curso se explicaram os conceitos basicos dos software Procurement (Compras)</P>
        </div> 
      </div>
  
      <div class="media bg-secondary border m-4">  
        <img src="assets/Imagem5.jpg" style="width:300px" alt="Curso de especialista em Inventory Planning">    
        <div class="media-body">
          <h4>Curso de especialista em Inventory Planning</h4>  
          <P> Neste Curso se explicaram os conceitos basicos dos software Inventory Planning (Stock)  </P>
        </div> 
      </div>
  
      <div class="media bg-secondary border m-4">   
        <img src="assets/Imagem6.jpg" style="width:300px" alt="Curso de especialista em Inventory Planning">   
        <div class="media-body">
          <h4>Curso de especialista em Scheduling</h4>  
          <P> Neste Curso se explicaram os conceitos basicos dos software Scheduling (Agendamento)   </P>
        </div> 
      </div>
    </article>      
</div>